# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
migrate_working_dir/

# IDE / Editor Specific
.idea/
*.iml
*.ipr
*.iws
.vscode/
.atom/

# Build / Dependencies
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/

# Flutter Specific
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/app/generated/
/android/app/google-services.json

# iOS & macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# Windows, Linux & Web
windows/.dart_tool/
linux/.dart_tool/
web/.dart_tool/

# Firebase
/lib/firebase_options.dart
firebase.json

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Dependency Overrides
pubspec.lock

# Flutter Test Results
test/output.json
